:root {
  --color-assetManager: #049ef4;
}

.assetsLoadingView {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.barBackground-Assets {
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
  color: var(--color-assetManager);
}

.progressBar-Assets {
  width: 0%;
  height: 15px;
  background-color: var(--color-assetManager);
  border-radius: 10px;
}

.parent_loading_bar_asset {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.loadingLabel_Assets {
  font-size: 4em;
  color: var(--color-assetManager);
}
