:root {
  --all_widget-color-one: #e5007b;
  --all-widget-color-two: whitesmoke;
  --all-widget-color-three: rgba(1, 1, 1, 0.3);
  --all-widget-color-four: #63e500;

  --all-widget-sidebar-width: 60px;
}

/********************************************* SIDE BAR*/

._all_widget_menu_sidebar {
  background-color: var(--all_widget-color-one);
  width: var(--all-widget-sidebar-width);
  height: 100%;
  z-index: 3;
}

._all_widget_menu_sidebar img {
  width: calc(var(--all-widget-sidebar-width) - 10px);
  height: calc(var(--all-widget-sidebar-width) - 10px);
  padding: 5px;
}

._all_widget_menu_sidebar img:hover {
  cursor: pointer;
}

._all_widget_menu_sidebar_img_selected {
  background-color: var(--all-widget-color-four);
}

.ud-viz-label {
  color: var(--all-widget-color-two);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

/********************************************* PAN SIDEBAR*/
._all_widget_pan_menu_sidebar {
  width: 400px;
  position: absolute;
  background-color: var(--all-widget-color-four);
  padding-left: var(--all-widget-sidebar-width);
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(-100%, 0%);
  transition: 0.5s;
  overflow-y: auto;
}

._all_widget_pan_menu_sidebar_container {
  background-color: var(--all-widget-color-three);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

/********************************************** LOGO */

#logo-container {
  position: fixed;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  bottom: 6px;
  right: 6px;
  background-color: #ffffff37;
  align-items: center;
  z-index: 5;
}

.logo {
  height: 40px;
  opacity: 1;
  margin: 5px 10px 5px 5px;
}

/*********************************** AUTHENTIFICATION */

#_all_widget_profile {
  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 5;
}

.logInOut {
  display: inline-block;
  border: 0;
  background: 0;
  color: lightgreen;
  padding: 11px;
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
}

.logInOut:hover {
  cursor: pointer;
}

#_all_widget_profile img {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 14px;
  right: 60px;
  border-width: 0;
  background-color: transparent;
  z-index: 5;
}

#_all_widget_profile img:hover {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

#_all_widget_profile_name {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#_all_widget_profile_name em {
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}

#_all_widget_auth_frame_location {
  display: inline-block;
}

#loginRegistration {
  left: 23%;
}
