#update_title{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
  height:50px;
}
