

#temporalWindow {
  position: absolute;
  width: 100%;
}

#timeSliderMinDate {
  position: absolute;
  left: 10px;
  top: 5px;
  font: 28px 'Lucida Grande', sans-serif;
  font-weight: bold;
}
#timeSliderMaxDate {
  position: absolute;
  right: 10px;
  top: 5px;
  font: 28px 'Lucida Grande', sans-serif;
  font-weight: bold;
}
#timeSliderValue {
  position: absolute;
  text-align: center;
  margin: auto;
  color: black;
  font: 28px 'Lucida Grande', sans-serif;
  font-weight: bold;
  top: 30px;
  right: 0;
  left: 0;
  border: 1px solid black;
  background-color: whitesmoke;
  height: 40px;
  width: 90px;
}
#timeSlider {
  width: 65%;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
}
