:root {
  color-scheme: light dark;

  --background-color: #fff;
  --secondary-background-color: #f7f7f7;

  --color-blue: #049ef4;
  --text-color: #444;
  --secondary-text-color: #9e9e9e;

  --font-size: 16px;
  --line-height: 26px;

  --border-style: 1px solid #e8e8e8;
  --header-height: 48px;
  --panel-width: 300px;
  --panel-padding: 16px;
  --icon-size: 20px;
}

body {
  padding: 0px;
}

#panel {
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: var(--panel-width);
  height: 100%;
  overflow: auto;
  border-right: var(--border-style);
  display: flex;
  flex-direction: column;
  transition: 0s 0s height;
}

#header h1 {
  padding-left: var(--panel-padding);
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-blue);
}

#version {
  text-decoration: none;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  line-height: 16px;
  padding: 0px 2px;
  margin-left: 6px;
  font-size: 0.9rem;
}

#contentWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--color-blue);
}

#viewer,
#content {
  padding: 0 var(--panel-padding) var(--panel-padding) var(--panel-padding);
}

#viewer,
iframe {
  position: absolute;
  border: 0px;
  left: 0;
  right: 0;
  height: 100%;
}

#viewer {
  padding-left: var(--panel-width);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 0;
}

.projects a {
  overflow: hidden;
  text-align: center;
  font-size: 1vw;
}

.projects a img {
  width: 100%;
  transform: scale(1);
  transition: 0.15s transform;
}

.projects a:hover img {
  transform: scale(1.08);
}

.projects a div {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transform: scale(1);
  visibility: none;
  transition: opacity 0.15s;
  text-decoration: underline;
}

.projects a:hover div {
  visibility: visible;
  opacity: 1;
  transform: scale(1.08);
  transition: 0.15s transform;
}

#panel #content ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0 20px 0;
}
#panel #content ul li {
  margin: 1px 0;
}

#panel #content a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}

#panel #content a:hover,
#panel #content a:hover .spacer,
#panel #content .selected {
  color: var(--color-blue);
}
