:root {
  --background-color: #fff;
  --secondary-background-color: #f7f7f7;

  --color-blue: #049ef4;
  --text-color: #444;
  --secondary-text-color: #9e9e9e;

  --font-size: 16px;
  --line-height: 26px;

  --border-style: 1px solid #e8e8e8;
  --header-height: 48px;
  --panel-width: 300px;
  --panel-padding: 16px;
  --icon-size: 20px;
}

body {
  padding: 0px;
}