/** @format */

html {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
#viewerDiv {
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 0;
}
canvas {
  display: block;
}
