/** @format */

html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
}

#css_View3D,
#viewerDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ui_View3D {
  position: absolute;
  z-index: 2;
}

.ui_View3D * {
  position: relative;
}
