/* forms */

.doc-update-creation-form input[type="date"],
.doc-update-creation-form input[type="text"],
.doc-update-creation-form input[type="file"],
.doc-update-creation-form textarea,
.doc-update-creation-form select {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}