a {
    color : lightgreen;
}

html {
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}

button:hover {
    cursor: pointer;
}

#viewerDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    margin : auto auto;
    padding: 0;
}

header {
    display: block;
    z-index: 10000;
}

.header {
    z-index: inherit;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    width: 100%;
    background-color: #333333;
}

#openSidebar {
    display: none;
}

#logoIMU, #logoLIRIS {
    height: 40px;
    margin: 5px 10px 5px 5px;
}

#openHamburger, #closeHamburger {
    z-index: inherit;
    margin: 0 10px;
    box-sizing: border-box;
    position: absolute;
    font-size: 35px;
    color: white;
    top: 0;
    left: 0;
}

.choiceMenu:hover, #openSidebar:hover, #openHamburger:hover, #closeHamburger:hover {
    cursor: pointer;
}

#_base_demo_menu {
    z-index: 10002;
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    transform: translateX(-300px);
    transition: transform 250ms ease-in-out;
    background-color: #2c2c2c;
}

#navMenu {
    height: 50px;
    width: 100%;
    background-color: #1e1e1e;
}

#_base_demo_profile {
    position: relative;
    min-height: 80px;
    background-color: black;
    margin-bottom: 20px;
    text-align: center;
}

#profileIcon {
    width: 100px;
    margin: 15px 10px 5px;
}

#_base_demo_profile_name {
    box-sizing: border-box;
    color: white;
    padding: 5px 15px;
    font-size: 25px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logInOut {
    position: relative;
    bottom: 0;
    width: 50%;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    color: white;
    background-color: #333333;
    border: 2px solid gray;
    height: 33px;
}

#loginRegistration {
    left: 23%;
}

.logInOut:hover {
    cursor: pointer;
}

.choiceMenu {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 0;
}

.choiceMenuSelected, #activateTemporal:checked ~ header #temporalMenu {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
}

.nonVisible{
    display: none;
}

#_base_demo_menu .choiceMenu:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.menuIcon {
    display: inline-block;
    width: 30px;
    margin: 0 20px 0 10px;
    flex-shrink: 0;
}

#openSidebar:checked ~ #_base_demo_menu {
    display: block;
    transform: translateX(0);
}

#temporal {
    display: none;
}

#activateTemporal:checked ~ #contentSection #temporal {
    display: block;
}

#researchContainer {
    top: 50px;
}

#docBrowserWindow {
    top: 50px;
}