#left_pan {
  position: absolute;
  z-index: 10;
  width: fit-content;
  height: fit-content;
  overflow-y: scroll;
  max-height: 100%;
}

#left_pan img {
  width: 100%;
}

#current_game_object_3d {
  max-height: 200px;
  overflow-y: scroll;
}

#select_game_object_3d {
  overflow-y: scroll;
}

.editor_list_collider {
  max-height: 100px;
  overflow-y: scroll;
}

.editor_list_collider li:hover {
  cursor: pointer;
}

.editor_shape_input {
  max-height: 100px;
  overflow-y: scroll;
}

.editor_clickable:hover {
  cursor: pointer;
}

#editor_tools {
  height: fit-content;
}

vector3-input {
  display: block;
}
