.city-object-title {
  margin: 5px 0 5px 0;
  font-weight: bold;
}

.city-object-value {
  margin: 5px 0 8px 0;
  padding-left: 10px;
  word-wrap: break-word;
}

.city-object-filter-section {
  margin: 10px;
}

.city-object-filter-section input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.color-indicator {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: bottom;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  margin: 2px;
  margin-left: 10px;
}