.root_html_pointer_note {
  width: 100%;
  background-color: inherit;
  color: inherit;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.root_html_pointer_note input {
  background-color: inherit;
  color: inherit;
}
