{
    "presets": [
      ["@babel/preset-env", { "modules": false }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [ "babel-plugin-webpack-loaders", { "config": "./webpack-babel.config.js", "verbose": false }],
        ["minify-replace", {
          "replacements": [{
              "identifierName": "__DEBUG__",
              "replacement": {
                  "type": "booleanLiteral",
                  "value": false
              }
          }]
        }],
        ["minify-dead-code-elimination"]
    ]
}
