

html {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}
#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#viewerDiv {

    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;

    margin : auto auto;
    padding: 0;
}


#info{


    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 20px;

    color: white;
    background-color: rgba(0,0,0,0.75);
    font-size: 14;
    text-align: center;

    padding-left: 3px;
    padding-top: 3px;


}

#docBrowser{


    position: absolute;
    z-index: 10;

    margin : auto;

    top: 100px;
    left: 0;


    width: 250px;
    height: 600px;



    color: white;
    background-color: rgba(0,0,0,0.67);
    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;


}

#timeSliderContainer{


    position: absolute;
    z-index: 10;
    text-align: center;


    margin : auto;
    bottom : 0;
    left: 0;
    right : 0;

    width: 700px;
    height: 70px;

    color: white;
    background-color: rgba(0,0,0,0.67);
    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;


}

#timeSlider {
  width: 80%;

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

}

.middle {
    display: table-cell;
    vertical-align: middle;

}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
