/**
all the UDV css is found here
this works ok for firefox on 1920*1080 resolution
similar screen resolution should work ok
however this css could REALLY be improved
*/

html {
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}


#viewerDiv {

    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;

    margin : auto auto;
    padding: 0;
}

#logoIMU {

    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 25px;

    max-height: 50px;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;

}

#logoLIRIS {

    position: absolute;
    z-index: 99;
    right: 200px;
    bottom: 25px;

    max-height: 50px;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;

}

#miniMapTab{

    position: absolute;
    z-index: 40;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    bottom: 0;
    left: 5%;

    pointer-events: auto


}

#miniMapViewer {

    z-index: 30;

    width: 20vw;
    height: 16vw;
    position: absolute;

    bottom: 0;
    left: 0%;

    margin : 3px;
    padding: 0;

    border : 1px solid rgb(90,90,90);

    pointer-events: none;
}

#info{

    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    width: 90px;
    height: 15px;

    color: rgba(20,20,20,1);
    background-color: rgba(230,230,230,0.6);
    font-size: 12;
    text-align: center;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;


}

#cartoDataSource{

    position: absolute;
    z-index: 99;
    right: 100px;
    bottom: 0;
    width: 300px;
    height: 15px;

    color: rgba(20,20,20,1);
    background-color: rgba(230,230,230,0.6);
    font-size: 12;
    text-align: center;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;


}

#docBrowserTab{

    position: absolute;
    z-index: 40;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    right: 5%;

    pointer-events: auto


}

#docBrowserWindow{


    display: none;
    position: absolute;
    z-index: 10;

    margin : 3px;
    margin-right: 0px;

    top: 30px;
    right: 0;

    border : 1px solid rgb(90,90,90);

    text-align: center;

    color: white;

    width: 20%;
    height: 65%;

    color : black;
    background-color: rgba(30,30,30,0.6);
    font-size: 14;

    pointer-events: none;



}

#docBrowserPreview{

    z-index: 20;
    height: 40%;
    display:inline-block

    margin-top: 20px;
    margin: 10px;


}

#docBrowserPreviewImg{

    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}

#docBrowserTitle{

    display:inline-block;

    margin-top: 10px;

    color: white;

    text-align: center;

    font-weight: bold;

    overflow: hidden;

}


#docBrowserMetaData{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    height: 10%;

    color : black;
    background-color: ivory ;

    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: hidden;
    pointer-events: auto;

}

#docBrowserIndex{

    position: absolute;

    margin-top: 10px;

    color: white;

    left : 15px;

    bottom : 50px;

    font-size: 14px;

    font-weight: bold;

    overflow: hidden;

}

#docBrowserToggleBillboard{

    position: absolute;
    z-index: 20;

    bottom : 0;
    right : 0;

    margin : 5px;

    font-size: 12px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#docBrowserOrientButton{

    position: absolute;
    z-index: 20;

    bottom : 0;
    right : 35%;


    margin : 5px;

    font-size: 14px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#docBrowserNextButton{

    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 60px;

    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#docBrowserPreviousButton{


    position: absolute;
    z-index: 20;

    bottom : 0;
    left : 0;

    margin : 5px;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#guidedTourTab{

    position: absolute;
    z-index: 40;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    left: 5%;

    pointer-events: auto


}

#guidedTourWindow{

    display: none;
    position: absolute;
    z-index: 10;

    margin : 3px;
    margin-right: 0px;

    top: 30px;
    left: 0;

    border : 1px solid rgb(90,90,90);

    text-align: center;

    color: white;

    width: 20%;
    height: 65%;

    color : black;
    background-color: rgba(30,30,30,0.6);
    font-size: 14;

    pointer-events: none;


}

#guidedTourTitle{

    display:inline-block;

    margin-top: 10px;

    color: black;

    background-color: ivory;

    text-align: center;

    font-size: 16px;

    font-weight: bold;

    overflow: hidden;

}

#guidedTourStepTitle{

    display:inline-block;

    margin-top: 10px;

    color: white;

    text-align: center;

    font-weight: bold;

    overflow: hidden;

}

#guidedTourText1{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    color : black;
    background-color: ivory ;

    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: hidden;
    pointer-events: auto;

}

#guidedTourText2{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    color : black;
    background-color: ivory ;
    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: hidden;
    pointer-events: auto;

}

#guidedTourDocTitle{

    display:inline-block;

    margin-top: 10px;

    color: white;

    text-align: center;

    font-weight: bold;

    overflow: hidden;


}

#guidedTourDocPreview{

    z-index: 20;

    height: 25%;
    display:inline-block

    margin-top: 10px;
    margin: 10px;


}

#guidedTourDocPreviewImg{

    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}

#guidedTourStartButton{


    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 0;
    right: 0;

    margin: auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}


#guidedTourNextButton{

    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 0;
    right: 0;

    margin: auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#guidedTourPreviousButton{


    position: absolute;
    z-index: 20;

    bottom : 0;
    left : 0;

    margin : 5px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#guidedTourExitButton{


    position: absolute;
    z-index: 20;

    bottom : 0;
    right : 0;

    margin : 5px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}


#docFull{
    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;
    top: 0;
    bottom : 10%;
    left: 0;
    right : 0;

    width: 55%;
    height: 55%;

    display: none;

    color: white;

    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;

}

#docFullImg{


    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    opacity: 0.5;


}

#docFullPanel{

    width: 60%;
    height: 50px;

    background-color: rgba(30,30,30,0.6);

    position: absolute;
    z-index: 10;
    text-align: center;

    border : 1px solid black;

    pointer-events: none;

    margin : auto;

    bottom : -52px;

    right : 0;
    left : 0;


}

#docOpaSlider {


    width:50%;

    position: absolute;
    z-index: 10;
    text-align: center;

    pointer-events: auto;

    margin : auto;

    bottom : 25%;

    right : 5%;

}

#docOpaLabel{

    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;

    bottom : 55%;

    color : white;

    right : -25px;
    left : 25%;

}



#docOpacity{

    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;

    color : white;

    bottom : 55%;

    right : -125px;
    left : 25%;

}



#docFullClose{

    position: absolute;
    z-index: 10;


    margin : auto;

    bottom : 20%;

    left: 2%;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;



}

#docFullOrient{

    position: absolute;
    z-index: 10;


    margin : auto;

    bottom : 20%;

    left: 22%;;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#temporalTab{

    position: absolute;
    z-index: 40;

    margin : auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    bottom: 2px;
    left: 0;
    right : 0;


    pointer-events: auto


}

#temporalWindow{

    display: none;

    border : 1px solid rgb(75,75,75);

    position: absolute;
    z-index: 10;
    text-align: center;

    margin: auto;

    bottom : 0;
    left : 0;
    right : 0;


    width: 35%;
    height: 12.5%;

    color: white;
    background-color: rgba(30,30,30,0.6);
    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;


}


#timeSlider {
    width: 80%;

    position: absolute;
    z-index: 10;
    text-align: center;


    margin : auto;
    top: 40%;
    left: 0;
    right : 0;

    pointer-events: auto;

}

#timeSliderMinDate {

    position: absolute;
    left : 10px;
    top  : 40%;
    font-weight: bold;

}

#timeSliderMaxDate {

    position: absolute;
    right : 10px;
    top  : 40%;
    font-weight: bold;

}

#timeDateSelector{

    position: absolute;
    z-index: 20;
    text-align: center;

    margin : auto;

    color : black;
    font-weight: bold;
    font-size: 16px;

    top : 5px;

    right : 0;
    left : 0;

    border: 1px solid black;
    background-color: white;

    height: 40px;
    width : 135px;

    pointer-events: auto;

}

#timeNextButton{

    position: absolute;
    z-index: 20;

    top : 5px;
    left: 200px;
    right: 0;

    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#timePreviousButton{

    position: absolute;
    z-index: 20;

    top : 5px;
    left: 0;
    right: 200px;

    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#timeConcurrentView{

    position: absolute;
    z-index: 20;

    bottom : 0;
    left : 0;

    margin : 5px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;



}


#helpTab{

    position: absolute;
    z-index: 40;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    left : 32.5%;


    pointer-events: auto


}

#helpWindow {
    position: absolute;
    z-index: 20;

    width: 15%;

    margin: 3px;

    left : 25%;


    color: white;
    font-size: 75%;
    padding: 0 1rem;
    background-color: rgba(30,30,30,0.6);
    border : 1px solid rgb(90,90,90);
    pointer-events: none;
}

#helpWindow > p {
    margin: 0.5rem 0;
}

#helpWindow > ul {
    padding: 0 1rem;
}

@media (max-width: 600px) {
    #helpWindow {
        display: none;
    }
}
