

html {
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}
#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}


#viewerDiv {

    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;

    margin : auto auto;
    padding: 0;
}




#info{


    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 20px;

    color: white;
    background-color: rgba(30,30,30,0.5);
    font-size: 14;
    text-align: center;

    padding-left: 3px;
    padding-top: 3px;


}

#docBrowserTab{

    position: absolute;
    z-index: 20;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    left: 5%;

    pointer-events: auto


}

#docBrowserWindow{

    display: none;
    position: absolute;
    z-index: 10;

    margin : 3px;
    margin-left: 0px;

    top: 30px;
    left: 0;

    border : 1px solid rgb(90,90,90);


text-align: center;

    width: 20%;
    height: 85%;

    color: white;
    background-color: rgba(30,30,30,0.5);
    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;



}

#docBrowserPreview{

    z-index: 20;
    height: 30%;
    display:inline-block

    margin-top: 20px;
    margin: 10px;


}

#docBrowserPreviewImg{

    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}

#docBrowserText{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    height: 40%;

    color : black;
    background-color: ivory ;

    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: scroll;
    pointer-events: auto;

}

#docBrowserToggleBillboard{

    position: absolute;
    z-index: 20;

    bottom : 0;
    right : 0;

    margin : 5px;

    font-size: 14px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#docBrowserOrientButton{

    position: absolute;
    z-index: 20;

    bottom : 0;
    right : 130;

    margin : 5px;

    font-size: 14px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#docBrowserNextButton{

    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 60px;

    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#docBrowserPreviousButton{


        position: absolute;
        z-index: 20;

        bottom : 0;
        left : 0;

        margin : 5px;

font-size: 30px;

        border: 1px solid black;
        background-color: white;
        color: black;

        height: 40px;

        pointer-events: auto;

}

#guidedTourTab{

    position: absolute;
    z-index: 20;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    right: 5%;

    pointer-events: auto


}

#guidedTourWindow{

    display: none;
    position: absolute;
    z-index: 10;

    margin : 3px;
    margin-right: 0px;

    top: 30px;
    right: 0;

    border : 1px solid rgb(90,90,90);

    text-align: center;

    color: white;

    width: 20%;
    height: 85%;

    color : black;
    background-color: rgba(30,30,30,0.5);
    font-size: 14;

    pointer-events: none;


}

#guidedTourTitle{

    display:inline-block;

    margin-top: 10px;

    color: white;

    text-align: center;

    font-weight: bold;

    overflow: hidden;

}

#guidedTourText1{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    height: 40%;

    color : black;
    background-color: ivory ;

    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: scroll;
    pointer-events: auto;

}

#guidedTourText2{

    display:inline-block;

    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    line-height: 130%;

    height: 12%;

    color : black;
    background-color: ivory ;
    border : 1px solid rgb(90,90,90);

    text-align: justify;

    overflow: scroll;
    pointer-events: auto;

}

#guidedTourDocPreview{

    z-index: 20;

    height: 25%;
    display:inline-block

    margin-top: 10px;
    margin: 10px;


}

#guidedTourDocPreviewImg{

    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}

#guidedTourStartButton{


    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 0;
    right: 0;

    margin: auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}


#guidedTourNextButton{

    position: absolute;
    z-index: 20;

    bottom : 5px;
    left: 0;
    right: 0;

    margin: auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#guidedTourPreviousButton{


        position: absolute;
        z-index: 20;

        bottom : 0;
        left : 0;

        margin : 5px;

        border: 1px solid black;
        background-color: white;
        color: black;

        height: 30px;

        pointer-events: auto;

}

#guidedTourExitButton{


        position: absolute;
        z-index: 20;

        bottom : 0;
        right : 0;

        margin : 5px;

        border: 1px solid black;
        background-color: white;
        color: black;

        height: 30px;

        pointer-events: auto;

}


#docFull{
    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;
    top: 0;
    bottom : 10%;
    left: 0;
    right : 0;

    width: 55%;
    height: 55%;

    display: none;

    color: white;

    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;

}

#docFullImg{


    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    opacity: 0.5;


}

#docFullPanel{

    width: 60%;
    height: 50px;

    background-color: rgba(30,30,30,0.5);

    position: absolute;
    z-index: 10;
    text-align: center;

    border : 1px solid black;

    pointer-events: none;

    margin : auto;

    bottom : -52px;

    right : 0;
    left : 0;


}

#docOpaSlider {


    width: 25%;

    position: absolute;
    z-index: 10;
    text-align: center;

    pointer-events: auto;

    margin : auto;

    bottom : -40px;

    right : 0;
    left : 25%;

}

#docOpaLabel{

    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;

    bottom : -22px;

    color : white;

    right : 30px;
    left : 25%;

}



#docOpacity{

    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;

    color : white;

    bottom : -22px;

    right : -75px;
    left : 25%;

}



#docFullClose{

    position: absolute;
    z-index: 10;


    margin : auto;

    bottom : -40px;

    right: 45%;
    left : 0;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;



}

#docFullOrient{

    position: absolute;
    z-index: 10;


    margin : auto;

    bottom : -40px;

    right: 20%;
    left : 0;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;

    pointer-events: auto;

}

#temporalTab{

    position: absolute;
    z-index: 20;

    margin : auto;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    bottom: 2px;
    left: 0;
    right : 0;


    pointer-events: auto


}

#temporalWindow{

    display: none;

border : 1px solid rgb(75,75,75);

    position: absolute;
    z-index: 10;
    text-align: center;

    margin: auto;

    bottom : 0;
    left : 0;
    right : 0;


    width: 35%;
    height: 12.5%;

    color: white;
    background-color: rgba(30,30,30,0.5);
    font-size: 14;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;


}


#timeSlider {
    width: 80%;

    position: absolute;
    z-index: 10;
    text-align: center;


    margin : auto;
    top: 5%;
    bottom : 0;
    left: 0;
    right : 0;

    pointer-events: auto;

}

#timeSliderMinDate {

    position: absolute;
    left : 10px;
    bottom : 40%;
    font-weight: bold;

}

#timeSliderMaxDate {

    position: absolute;
    right : 10px;
    bottom : 40%;
    font-weight: bold;

}

#timeDateSelector{

    position: absolute;
    z-index: 20;
    text-align: center;

    margin : auto;

    color : black;

    bottom : 60%;

    right : 0;
    left : 0;


    pointer-events: auto;
    width : 90px;
}

#helpTab{

    position: absolute;
    z-index: 20;

    margin : 3px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 30px;
    top: 0;
    left: 37%;


    pointer-events: auto


}

#help {
    position: absolute;
    z-index: 100;

    width: 300px;

    margin: 3px;

    left : 40%;


    color: white;
    font-size: 75%;
    padding: 0 1rem;
    background-color: rgba(30,30,30,0.5);
    border : 1px solid rgb(90,90,90);
    pointer-events: none;
}

#help > p {
    margin: 0.5rem 0;
}

#help > ul {
    padding: 0 1rem;
}

@media (max-width: 600px) {
    #help {
        display: none;
    }
}
