#loginRegistrationWindow * {
    box-sizing: border-box;
}

#loginRegistrationWindow {
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 10;
    height: calc(100% - 50px);
    width: 100%;
    padding: 0 0 0 250px;
    color: black;
    font-size: 75%;
    background-color: rgba(30, 30, 30, 0.3);
    border: 1px solid rgb(90, 90, 90);
    pointer-events: auto;
    display: grid;
}

#loginRegistrationWindow > div > ul {
    padding-left: 5px;
}

#loginRegistrationCloseButton {
    margin-top: 2.2vw;
    margin-left: 24.8vw;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    height: 2vw;
    width: 5vw;
}

#RegistrationForm {
    margin: 2vw 0 auto auto;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    width: 30vw;
    height: 42vw;
    padding: 1.5vw 6%;
    color: white;
    background-color: rgba(45, 52, 54, 0.9);
    border: 0.15vw solid #2c2c2c;
}

#LoginForm {
    margin: 2vw auto auto 0;
    width: 30vw;
    height: 42vw;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    padding: 1.5vw 6%;
    grid-template-rows: 5vw 2.5vw repeat(2, 5vw 3.5vw) 7vw 1fr;
    color: white;
    background-color: rgba(45, 52, 54, 0.9);
    border: 0.15vw solid #2c2c2c;
}

#loginRegistrationWindow h2 {
    text-align: center;
    font-size: 3vw;
    margin: 0;
    font-weight: 700;
}

#LoginButton, #RegisterButton {
    font-size: 2vw;
    height: 4vw;
    padding: 0 20%;
    border-radius: 0.5vw;
    color: white;
    background-color: #1aaa55;
    border: 0.2vw solid #168f48;
}

#LoginButton:hover, #RegisterButton:hover {
    background-color: #168f48;
}

#RegistrationForm label {
    font-size: 1vw;
    margin: auto 0 1% 1% ;
}

#RegistrationForm label::after {
    content: "*";
    color: red;
    margin-left: 0.2vw;
}

#RegistrationForm input {
    font-size: 1.5vw;
    padding: 2%;
    background-color: #eeeeef;
    border: 0.05vw solid black;
}

#RegistrationForm button {
    margin: 1.5vw auto auto;
}

#LoginForm label {
    font-size: 2.5vw;
    margin: auto 0 1% 1% ;
}

#LoginForm input {
    font-size: 1.5vw;
    padding: 2%;
    background-color: #eeeeef;
    border: 0.05vw solid black;
}

#LoginForm div {
    font-size: 2vw;
    margin: 2vw auto;
}

#LoginForm button {
    margin: 3vw auto auto;
}

.ErrorBox {
    color: red;
    font-weight: bold;
    text-align: center;
}


#loginRegistrationWindow label
{
    display: block;
    width: 200px;
    float: left;
}

#profileMenu label {
    display: block;
    float: left;
}

.SuccessBox{
    color: green;
    text-align: center;
}