/**
all the UDV css is found here
this works ok for firefox on 1920*1080 resolution
similar screen resolution should work ok
however this css could REALLY be improved
*/

a {
    color : lightgreen;
}

html {
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}


#viewerDiv {

    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;

    margin : auto auto;
    padding: 0;
}

#logoIMU {

    position: absolute;
    z-index: 99;
    right: 5px;
    bottom: 5px;

    max-height: 60px;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;
}

#logoLIRIS {

    position: absolute;
    z-index: 99;
    right: 5px;
    bottom: 55px;

    max-height: 55px;

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;
}
