#ContributeWindow{
  display: none;
  position: absolute;
  z-index: 10;
  margin : 3px;
  margin-right: 0px;
  /*top: 30px;*/
  left: 0;
  border : 1px solid rgb(90,90,90);
  text-align: center;
  width: 15%;
  height: 75%;
  overflow: auto;
  background-color: rgba(30,30,30,0.6);
  font-size: 14;
}

#ContributeTab{
  display: block;
  position: relative;
  left: 3px;
  bottom: 40px;
  margin : 3px;

  border: 1px solid black;
  background-color: white;
  color: black;

  height: 30px;
  top: 0;
  right: 5%;
}

.control-label alpaca-control-label{
  float:left
}

.alpaca-form-buttons-container{
  position: absolute;
  z-index: 10;
  right:0;
  border: 1px solid black;
  background-color: white;
  color: black;
  height: 30px;
  bottom:0;
  pointer-events: auto;
}
