html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
}

#css_BaseView,
#viewerDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ui_BaseView {
  position: absolute;
}

.ui_BaseView * {
  position: relative;
}
