/** @format */

.root_HeightMapView {
  background-color: brown;
  padding: 5px;
}

select {
  display: block;
}

.canvas_preview {
  position: relative;
  width: 300px !important;
  height: 300px !important;
}
