
#temporalWindow{

    display: none;

    border : 1px solid rgb(75,75,75);

    position: absolute;
    z-index: 10;
    text-align: center;

    margin: auto;

    bottom : 0;
    left : 0;
    right : 0;


    width: 35%;
    height: 12.5%;

    color: white;
    background-color: rgba(30,30,30,0.6);

    padding-left: 3px;
    padding-top: 3px;

    pointer-events: none;


}

#timeSliderMinDate {

    position: absolute;
    left : 10px;
    top  : 50px;
    font-weight: bold;

}

#timeSliderMaxDate {

    position: absolute;
    right : 10px;
    top  : 50px;
    font-weight: bold;

}

#timePreviousButton{

    position: absolute;
    z-index: 20;

    top : 1px;
    left: 0;

    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;

    pointer-events: auto;

}

#timeDateSelector{

    position: absolute;
    z-index: 20;
    text-align: center;

    margin : auto;

    color : black;
    font-weight: bold;
    font-size: 16px;

    top : 1px;

    right : 0;
    left : 0;

    border: 1px solid black;
    background-color: white;

    height: 40px;
    width : 160px;

    pointer-events: auto;
}

#timeNextButton{

    position: absolute;
    z-index: 20;

    top : 1px;
    right: 0;


    margin: auto;

    font-size: 30px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 40px;
    pointer-events: auto;
}

#timeSlider {
    width: 75%;

    position: absolute;
    z-index: 10;
    text-align: center;

    margin : auto;
    top: 45px;
    left: 0;
    right : 0;

    pointer-events: auto;
}

#timeCloseTemporalButton{

    position: absolute;
    z-index: 20;

    top : 60px;
    right: 20px;

    margin : 5px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 15px;
    pointer-events: auto;
}

#timeOverlayButton{

    position: absolute;
    z-index: 20;

    top : 60px;
    left : 20px;

    margin : 5px;

    border: 1px solid black;
    background-color: white;
    color: black;

    height: 15px;

    pointer-events: auto;
}

#timeCloseButton{
    position: absolute;
    z-index: 40;
    height: 15px;
    top: 60px;
    right: 3px;
    margin : 3px;
    border: 1px solid black;
    background-color: white;
    color: black;
    pointer-events: auto
}
