#helpWindow {
    position: absolute;
    z-index: 20;
    width: 15%;
    top: 50px;
    left : 22.5%;
    color: white;
    font-size: 75%;
    padding: 0 1rem;
    background-color: rgba(30,30,30,0.6);
    border : 1px solid rgb(90,90,90);
    pointer-events: none;
}

#helpWindow > div > ul {
    padding-left: 5px;
}

#helpCloseButton{
    position: absolute;
    z-index: 40;
    top: 0;
    right: 3px;
    margin : 3px;
    border: 1px solid black;
    background-color: white;
    color: black;
    pointer-events: auto;
}

@media (max-width: 600px) {
    #helpWindow {
        display: none;
    }
}
