#researchContainer{
  display:none;
  position: absolute;
  z-index: 10;
  margin : 3px;
  margin-right: 0px;
  left: 0;
  border : 1px solid rgb(90,90,90);
  text-align: center;
  width: 10%;
  height: 52%;
  overflow: auto;
  background-color: rgba(30,30,30,0.6);
  font-size: 14;
}

#filtersTitle{
  display:inline-block;
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  width: 90%;
}

#docBrowserWindow{
    display: none;
    position: absolute;
    z-index: 10;
    margin : 1px;
    margin-right: 1px;
    top: 1px;
    right: 0;
    border : 1px solid rgb(90,90,90);
    text-align: center;
    color: white;
    width: 22%;
    height: 90%;
    color : black;
    background-color: rgba(30,30,30,0.6);
    font-size: 14;

    pointer-events: none;
}

#browserWindowTabs{
  bottom:0px;
}

#docHead{
  display:inline-block;
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  width: 90%;
}

#docBrowserTitle{
    display:inline-block;
    margin-top: 20px;
    color: black;
    background-color: ivory;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    width: 90%;
    text-align: left;
    padding-left: 20px;
    height: 10%;
}

#docBrowserIndex{
  position: absolute;
      margin-top: 10px;
      color: white;
      left : 15px;
      bottom : 100px;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;

}

#docType{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
    height:10%;

}
#subject{
  width: 90%;
}

#refDate1{
  width: 90%;
}
#refDate2{
  width: 90%;
}
#publicationDate1{
  width: 90%;
}
#publicationDate2{
  width: 90%;
}
#docBrowserPreview{
    z-index: 20;
    height: 40%;
    display:inline-block;
    margin: 10px;
}

#docBrowserPreviewImg{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
}

#docBrowserNextButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    left: 60px;
    margin: auto;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#docBrowserPreviousButton{
    position: absolute;
    z-index: 20;
    bottom : 0;
    left : 0;
    margin : 5px;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#docBrowserOrientButton{
    position: absolute;
    z-index: 20;
    bottom : 0;
    right : 0;
    margin : 5px;
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}

#resetFilters{
    z-index: 20;
    bottom : 0;
    left: 130px;
    position:absolute;
    margin : 5px;
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}

#docFull{
    position: absolute;
    z-index: 10;
    text-align: center;
    margin : auto;
    top: 0;
    bottom : 10%;
    left: 0;
    right : 0;
    width: 55%;
    height: 55%;
    display: none;
    padding-left: 3px;
    padding-top: 3px;
    pointer-events: none;
}




#docFullImg{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    opacity: 0.5;
}

#docFullPanel{
    width: 60%;
    height: 50px;
    background-color: rgba(30,30,30,0.6);
    position: absolute;
    z-index: 10;
    text-align: center;
    border : 1px solid black;
    pointer-events: none;
    margin : auto;
    bottom : -52px;
    right : 0;
    left : 0;
}

#docFullClose{
    position: absolute;
    z-index: 10;
    margin : auto;
    bottom : 20%;
    left: 2%;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}

#closeBrowserWindow{
  position: absolute;
  z-index: 40;
  top: 0;
  right: 3px;
  margin : 3px;
  border: 1px solid black;
  background-color: white;
  color: black;
  pointer-events: auto;

}

#docFullOrient{
    position: absolute;
    z-index: 10;
    margin : auto;
    bottom : 20%;
    left: 22%;;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}

#docOpaLabel{
    position: absolute;
    z-index: 10;
    text-align: center;
    margin : auto;
    bottom : 55%;
    color : white;
    right : -25px;
    left : 25%;
}

#docOpaSlider {
    width:50%;
    position: absolute;
    z-index: 10;
    text-align: center;
    pointer-events: auto;
    margin : auto;
    bottom : 25%;
    right : 5%;
}

#docOpacity{
    position: absolute;
    z-index: 10;
    text-align: center;
    margin : auto;
    color : white;
    bottom : 55%;
    right : -125px;
    left : 25%;
}

#title{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  height: 60px;
}

#refDate{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
  height:20px;
}

#publicationDate{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
    height:20px;
}
#description{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
  height:50px;

}
#subject{
  display:inline-block;
  margin-top: 20px;
  color: black;
  background-color: ivory;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  text-align: left;
  padding-left: 20px;
    height:20px;
}

#type{
  display:inline-block;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  width: 90%;
  text-align: left;
  padding-left: 20px;
  background-color: ivory;
    height:20px;
}

#closeResearch{
  position: absolute;
  z-index: 40;
  top: 0;
  right: 3px;
  margin : 3px;
  border: 1px solid black;
  background-color: white;
  color: black;
  pointer-events: auto;
    height:20px;
}

#documentType{
  width: 90%;
    height:20px;
}
label{
  color:white;
  left:3px
}
#keyword{
  display:inline-block;
  color: black;
  text-align: center;
  font-size: 14px;
  width: 90%;
  text-align: left;
  padding-left: 20px;
}


#browserInfo{
display: block;
  color:white;
}
