/** @format */

.orienter-box {
  width: 55%;
  height: 55%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10%;
  pointer-events: none;
}

.orienter-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.orienter-box .controls-panel {
  width: 80%;
  max-width: 500px;
  background: rgba(30, 30, 30, 0.6);
  border: 1px solid #000;
  padding: 5px;
  color: white;
  margin: auto;
  text-align: center;
  pointer-events: all;
}

.orienter-box .controls-panel .slider-container {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.orienter-box .controls-panel .slider-container .slider-label {
  text-align: center;
  width: 100%;
  display: block;
}

.orienter-box .controls-panel .slider-container input {
  width: 100%;
}
