#guidedTourTab{
    position: absolute;
    z-index: 40;
    margin : 3px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    top: 0;
    left: 5%;
    pointer-events: auto;
}

#guidedTourWindow{
    display: none;
    position: absolute;
    z-index: 10;
    margin : 3px;
    margin-right: 0px;
    top: 30px;
    left: 0;
    border : 1px solid rgb(90,90,90);
    text-align: center;
    color: white;
    width: 22%;
    height: 65%;
    color : black;
    background-color: rgba(30,30,30,0.6);
    font-size: 14;
    pointer-events: none;
}

#guidedTourTitle{
    display:inline-block;
    margin-top: 10px;
    color: black;
    background-color: ivory;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

#guidedTourStepTitle{
    display:inline-block;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

#guidedTourText1{
    display:inline-block;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 130%;
    /* height adjusted in GuidedTour.js, 45% or 60% */
    height: 45%;
    color : black;
    background-color: ivory ;
    border : 1px solid rgb(90,90,90);
    text-align: justify;
    overflow: scroll;
    pointer-events: auto;
}

#guidedTourText2{
    display: none;
    margin-top: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 130%;
    height: 20%;
    color : black;
    background-color: ivory ;
    border : 1px solid rgb(90,90,90);
    text-align: justify;
    overflow: scroll;
    pointer-events: auto;
}

#guidedTourDocTitle{
    display:inline-block;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

#guidedTourDocPreview{
    z-index: 20;
    height: 25%;
    display:inline-block;
    margin: 5% ;
}

#guidedTourDocPreviewImg{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
}

#guidedTourStartButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}


#guidedTourNextTourButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    right: 5px;
    margin: auto;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#guidedTourPreviousTourButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    left : 5px;
    margin : auto;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#guidedTourNextStepButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    right: 5px;
    margin: auto;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#guidedTourPreviousStepButton{
    position: absolute;
    z-index: 20;
    bottom : 5px;
    left : 5px;
    margin : auto;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 40px;
    pointer-events: auto;
}

#guidedTourExitButton{
    position: absolute;
    z-index: 20;
    display:none;
    bottom : 5px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    pointer-events: auto;
}

#tourCpt{
  position: absolute;
      margin-top: 10px;
      color: white;
      left : 15px;
      bottom : 100px;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;

}
