/** @format */

#_geocoding_view {
  position: absolute;
  z-index: 200;
  top: 30px;
  width: 100%;
}

#_geocoding_view_form {
  text-align: center;
}

#_geocoding_view_form_searchstring {
  border: 0;
  border-radius: 18px;
  padding: 5px 18px 5px 18px;
  height: 26px;
  width: 300px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  animation-name: open;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

#_geocoding_view_form_searchstring:hover {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#_geocoding_view_form_searchstring:focus {
  box-shadow: 0px 0px 3px 3px rgba(0, 187, 255, 0.2);
}

@keyframes open {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 300px;
  }
}

#_geocoding_view_centered {
  display: inline-block;
}

#_geocoding_view_centered_credit {
  text-shadow: 0px 0px 2px black;
  text-align: right;
  color: white;
  margin: 3px;
}

#_geocoding_view_centered_error {
  text-shadow: 0px 0px 1px black;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
