/**
This file contains the css for the index.html file in UD-Viz-Core
*/
html {
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 120px;
    height: 100%;
    margin: 0;
}

section {
    overflow-y: auto;
    padding: 20px;
}

footer {
    box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #fafafa;
}

#logoLIRIS {
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 100px;
    pointer-events: none;
}

#logoIMU {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 100px;
    pointer-events: none;
}

