

#_about_window {
  position: absolute;
  top: 0px;
  z-index: 11;
  width: 350px;
  height: 100%;
  padding: 9px 27px 240px 26px;
  color: white;
}

#_about_window > div > ul {
  padding-left: 5px;
}
