.root_note_ui {
  background-color: #b7b7b7;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  transform: translate(0%, 0px);
  transition: 1s;
}

.container_note_ui {
  display: flex;
  flex-direction: column;
  color: white;
}

.fold_button_note_ui {
  background-color: rgb(45, 108, 110);
  height: 100%;
  width: 20px;
  border-radius: 0px 20px 20px 0px;
  float: right;
  transform: translate(100%, 0px);
  cursor: pointer;
}

.fold_button_note_ui:hover {
  background-color: rgb(84, 188, 188);
}
