:root {
  --sidebar_widget-color-one: black;
  --sidebar-widget-color-two: #838383;
  --sidebar-widget-color-three: rgba(255, 255, 255, 0.3);
  --sidebar-widget-color-four: white;

  --sidebar-widget-sidebar-width: 60px;
  --sidebar-widget-sidebar-pan-max-width: 500px;
}

/********************************************* SIDE BAR*/

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

._sidebar_widget_menu_sidebar {
  position: absolute;
  background-color: var(--sidebar_widget-color-one);
  width: var(--sidebar-widget-sidebar-width);
  height: 100%;
  z-index: 3;
  overflow: auto;
  scrollbar-width: thin;
  padding-right: 10px;
}

._sidebar_widget_menu_sidebar img {
  width: calc(var(--sidebar-widget-sidebar-width) - 10px);
  height: calc(var(--sidebar-widget-sidebar-width) - 10px);
  padding: 5px;
}

._sidebar_widget_menu_sidebar img:hover {
  cursor: pointer;
}

._sidebar_widget_menu_sidebar_img_selected {
  background-color: var(--sidebar-widget-color-two);
}

.ud-viz-label {
  color: var(--sidebar-widget-color-four);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

/********************************************* PAN SIDEBAR*/
._sidebar_widget_pan_menu_sidebar {
  max-width: var(--sidebar-widget-sidebar-pan-max-width);
  position: absolute;
  background-color: var(--sidebar-widget-color-two);
  padding-left: var(--sidebar-widget-sidebar-width);
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(-100%, 0%);
  transition: 0.5s;
  overflow-y: auto;
  z-index: 2;
}

._sidebar_widget_pan_menu_sidebar img {
  max-width: var(--sidebar-widget-sidebar-pan-max-width);
}

._sidebar_widget_pan_menu_sidebar_container {
  background-color: var(--sidebar-widget-color-three);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

/********************************************** LOGO */

#logo-container {
  position: fixed;
  display: flex;
  padding: 10px;
  border-radius: 6px;
  bottom: 6px;
  right: 6px;
  background-color: #ffffff37;
  align-items: center;
  z-index: 5;
}

.logo {
  height: 40px;
  opacity: 1;
  margin: 5px 10px 5px 5px;
}

/*********************************** AUTHENTIFICATION */

#_sidebar_widget_profile {
  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 5;
}

.logInOut {
  display: inline-block;
  border: 0;
  background: 0;
  color: lightgreen;
  padding: 11px;
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
}

.logInOut:hover {
  cursor: pointer;
}

#_sidebar_widget_profile img {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 14px;
  right: 60px;
  border-width: 0;
  background-color: transparent;
  z-index: 5;
}

#_sidebar_widget_profile img:hover {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

#_sidebar_widget_profile_name {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#_sidebar_widget_profile_name em {
  font-style: normal;
  font-weight: bold;
  font-variant: smsidebar-caps;
}

#_sidebar_widget_auth_frame_location {
  display: inline-block;
}

#loginRegistration {
  left: 23%;
}

.context-menu {
  position: absolute;
  z-index: 5;
}

.context-menu button {
  cursor: pointer;
}
