#widget_legonizer {
  position: absolute;
  resize: both;
  z-index: 2;
  background-color: #313336bb;
  color: white;
}

#widget_legonizer_lego_visualizer {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: 101;
  right: 0%;
  top: 10%;
  resize: both;
}
