a {
  color: lightgreen;
}

* {
  z-index: inherit;
}

html {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: black;
  height: 100%;
}

canvas {
  position: absolute;
}

#_all_widget {
  display: grid;
  height: 100%;
}

header {
  background-color: #333333;
  display: grid;
  grid-template-columns: auto auto;
}

header * {
  vertical-align: top;
}

header h1 {
  display: inline-block;
  color: white;
  margin: 5px;
  font-size: 28px;
  height: 100%;
}

#_all_widget_struct_header_panel {
  text-align: right;
  padding-right: 10px;
}

#_all_widget_stuct_main_panel {
  display: grid;
  grid-template-columns: 60px auto;
}

nav {
  background-color: #000000;
  display: inline-block;
  height: 100%;
  z-index: 50001;
}

section {
  position: relative;
  height: 100%;
}

#openSidebar {
  display: none;
}

.logos {
  height: 40px;
  margin: 5px 10px 5px 5px;
}

.choiceMenu:hover,
#openSidebar:hover,
#openHamburger:hover,
#closeHamburger:hover {
  cursor: pointer;
}

#_all_widget_auth_frame_location {
  display: inline-block;
}

#_all_widget_profile{
  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 5;
}

#_all_widget_profile_name {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#_all_widget_profile_name em {
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}

.logInOut {
  display: inline-block;
  border: 0;
  background: 0;
  color: lightgreen;
  padding: 11px;
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
}

#loginRegistration {
  left: 23%;
}

.logInOut:hover {
  cursor: pointer;
}

#_all_widget_menu {
  list-style: none;
  padding: 0;
}

.choiceMenu {
  position: relative;
  padding-top: 15px;
  height: 40px;
}

._all_widget_menu_hint {
  position: absolute;
  background-color: #666666;
  z-index: 50000;
  height: 100%;
  padding: 20px;
  padding-top: 12px;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  left: 100%;
  top: 0;
  white-space: nowrap;
  box-sizing: border-box;
  color: #dbdbdb;
  visibility: hidden;
}

.choiceMenu:hover > ._all_widget_menu_hint {
  visibility: visible;
  opacity: 1;
}

.choiceMenuSelected > ._all_widget_menu_hint {
  background-color: #999eb9;
}

#activateTemporal:checked ~ header #temporalMenu {
  background-color: rgba(255, 255, 255, 0.1);
}

.choiceMenuSelected::after {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
  background-color: #999eb9;
  content: '';
  z-index: inherit;
}

.nonVisible {
  display: none;
}

#_all_widget_menu .choiceMenu:hover {
  background-color: #dbdbdb;
}

.menuIcon {
  display: inline-block;
  width: 23px;
  margin: auto 12px auto 12px;
  flex-shrink: 0;
  opacity: 0.9;
}

#openSidebar:checked ~ #_all_widget_menu {
  display: block;
  transform: translateX(0);
}

#temporal {
  display: none;
}

#activateTemporal:checked ~ #temporal {
  display: block;
}

#researchContainer {
  top: 50px;
}

#docBrowserWindow {
  top: 50px;
}

#logo-div{
  position: fixed;
  display: flex;
  height: 10%;
  width: 20%;
  bottom: 6px;
  right: 6px;
  background-color: #d5d5d5cd;
  align-items: center;
  z-index: 5;
}

.UD-VIZ {
  width: 69px;
  height: 40px;
  margin: 30px auto 10px auto;
  font-size: 2vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  /* align-items: center; */
}
