/* Search window */

.search-form label {
  display: block;
  margin-top: 5px;
}

.search-form input[type='text'],
.search-form select {
  box-sizing: border-box;
}

.search-form .date-wrapper span {
  display: inline-block;
  width: 40px;
}
.documents-list {
  max-height: 300px;
  overflow-y: auto;
  margin: 5px 0 5px 0;
}

.documents-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigator-result-doc {
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}

.navigator-result-doc .doc-title {
  color: lightgreen;
}

.navigator-result-doc:hover .doc-title {
  font-weight: bold;
}

.navigator-result-doc.document-selected {
  background: #fff2;
}

.navigator-result-doc .doc-info {
  padding-left: 15px;
}

/* inspector window */

.root-document-inspector img {
  width: 300px; /*should not be defined here temporary */
}
